@using myfoodapp.Hub.Models
@model LoginViewModel

@{
    Layout = "~/Views/Shared/_FullEmptyLayout.cshtml";
}
<link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.css">
<style>
    body,
    html {
        height: 100%;
    }

    .row-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        min-height: 100%;
    }

        .row-flex .col-left,
        .row-flex .col-right {
            position: relative;
            display: flex;
            align-items: center;
            width: 50%;
            padding: 40px;
        }

        .row-flex .col-right {
            font-family: "Roboto-Thin";
            padding: 40px 140px 40px 40px;
        }

        .row-flex .col-left {
            background: url("/Content/images/background-hub.jpg");
            background-size: cover;
            justify-content: flex-start;
        }

            .row-flex .col-left .logo {
                position: absolute;
                top: 40px;
                left: 40px;
            }

                .row-flex .col-left .logo img {
                    width: 200px;
                }

            .row-flex .col-left .welcome {
                color: #fff;
            }

                .row-flex .col-left .welcome h1 {
                    font-size: 48px;
                    font-weight: bold;
                }

                .row-flex .col-left .welcome p {
                    font-size: 18px;
                    font-weight: normal;
                }

        .row-flex .col-right .top-nav {
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
        }

            .row-flex .col-right .top-nav .email-contact {
                display: flex;
                align-items: center;
                padding: 0 40px;
                color: #2EA636;
                line-height: 100px;
                font-size: 14px;
                font-weight: bold;
            }

                .row-flex .col-right .top-nav .email-contact a,
                .row-flex .col-right .top-nav .email-contact a:hover {
                    color: #2EA636;
                    text-decoration: none;
                }



            .row-flex .col-right .top-nav .message-contact {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                background: #D72F37;
            }

                .row-flex .col-right .top-nav .message-contact img {
                    width: 16px;
                }

        .row-flex .col-right .login-form-container {
            width: 89%;
            margin-top: 150px;
            text-align: center;
        }

            .row-flex .col-right .login-form-container .input-group-text {
                background-color: #fff;
                border-radius: 0;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-bottom: 2px solid #F3F6F8;
            }

            .row-flex .col-right .login-form-container .input-img {
                width: 20px;
            }

            .row-flex .col-right .login-form-container .form-control {
                border-top: 0;
                border-right: 0;
                border-left: 0;
                border-bottom: 2px solid #F3F6F8;
                line-height: 40px;
            }

                .row-flex .col-right .login-form-container .form-control::placeholder {
                    color: #6C7A73;
                    opacity: 0.4;
                }

                .row-flex .col-right .login-form-container .form-control:focus {
                    outline: 0;
                    box-shadow: none;
                }

            .row-flex .col-right .login-form-container .form-password {
                position: relative;
                margin-top: 3rem;
            }

                .row-flex .col-right .login-form-container .form-password .show-password .eye {
                    height: 100%;
                    position: absolute;
                    width: 25px;
                    right: 15px;
                    z-index: 10;
                }


            .row-flex .col-right .login-form-container .form-buttons {
                text-align: center;
                margin-top: 100px;
            }

            .row-flex .col-right .login-form-container .btn-primary {
                background: #fff;
                border: 2px solid #2EA636;
                color: #2EA636;
                border-radius: 25px;
                padding: 10px 60px;
                position: relative;
                transition: .5s;
            }

    .btn-primary {
        background: #fff;
        border: 2px solid #2EA636;
        color: #2EA636;
        border-radius: 25px;
        padding: 10px 60px;
        position: relative;
        transition: .5s;
    }


    .btn-primary::after {
        content: "";
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        width: 90px;
        height: 90px;
        margin: -45px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-image: url(/Content/images/dots_anim.svg);
        -webkit-animation: infinite-rotate 15s infinite linear;
        animation: infinite-rotate 15s infinite linear;
        transition: .5s;
    }

    .btn-primary:hover,
    .btn-primary:focus {
        outline: none;
        border-radius: 20px 20px;
        box-shadow: inset 0 0 0 2em #2EA636;
        color: white !important;
    }

    .row-flex .col-right .login-form-container .forgot-password {
        color: #6C7A73;
        opacity: 0.4;
        display: block;
        margin-top: 20px;
    }

        .row-flex .col-right .login-form-container .forgot-password .forgot-password-link {
            color: #6C7A73;
        }

    @@-webkit-keyframes infinite-rotate {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(359deg);
        }
    }
    /* media queries */
    @@media(max-width: 1024px) {
        .row-flex .col-right .login-form-container {
            width: 80%;
        }
    }

    @@media(max-width: 768px) {
        .row-flex .col-right .login-form-container {
            width: 75%;
        }
    }

    .col-right {
        justify-content: center;
    }

    @@media (max-width: 751px) {
        .row-flex {
            justify-content: center;
            min-height: auto;
        }

            .row-flex .col-left,
            .row-flex .col-right {
                padding: 40px;
                width: 100%;
            }

            .row-flex .col-left {
                justify-content: center;
                flex-direction: column;
            }

                .row-flex .col-left .logo {
                    position: relative;
                    top: 0;
                    left: 0;
                }

                .row-flex .col-left .welcome {
                    text-align: center;
                    margin-top: 25px;
                }

            .row-flex .col-right .login-form-container {
                width: 100%;
                margin-top: 50px;
            }

            .row-flex .col-right .top-nav {
                display: none;
            }

        .sidebar {
            display: none;
        }
    }

    /* sidebar */

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background: #ede6db;
        width: 100px;
        z-index: 550;
    }

        .sidebar .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 90px;
            right: 90rem;
            width: 100vw;
            background: #2b2825;
            opacity: 0;
            -webkit-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s;
            z-index: -1;
            pointer-events: none;
        }

    .sidebar__open-zone {
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 90px;
        right: 0;
        width: 90px;
        cursor: pointer;
        z-index: 40;
    }

    .sidebar__mention {
        font-size: 22px;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        left: 0;
        top: 100px;
        height: 300px;
        width: 300px;
        line-height: 90px;
        margin-left: 0;
        margin-bottom: 90px;
        text-align: left;
        z-index: 20;
        color: #e54848;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }

    .sidebar.open .sidebar__mention {
        color: #fff;
    }

    .sidebar__mention p {
        margin-bottom: 0;
    }

    .sidebar__bottom {
        background: #e54848;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        line-height: 90px;
        text-align: center;
        z-index: 40;
        cursor: pointer;
    }

    .sidebar__content {
        position: absolute;
        background: #ede6db;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50vw;
        z-index: 1;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        line-height: 100vh;
        padding-top: 90px;
    }

    .sidebar__vam {
        vertical-align: middle;
        line-height: 1;
        display: inline-block;
        width: 100%;
    }

    .sidebar__content__push {
        display: block;
        margin-bottom: 80px;
        padding: 0 50px 0 125px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        opacity: 0;
        -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
        transform: translateX(100px);
    }

        .sidebar__content__push:hover {
            text-decoration: none;
        }

    .title--xl {
        font-size: 45px;
        line-height: 55px;
    }

    .sidebar__content__push__title,
    .sidebar__content__push__icon {
        margin-top: 30px;
        opacity: .15;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .sidebar__red-mask {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        background: #e54848;
        height: 0;
        z-index: 10;
        -webkit-transition: .7s .2s;
        -o-transition: .7s .2s;
        transition: .7s .2s;
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    }

    .sidebar.open .sidebar__red-mask {
        height: 100%;
        -webkit-transition: .7s;
        -o-transition: .7s;
        transition: .7s;
    }

    .sidebar.open .sidebar__content {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: 1s .3s;
        -o-transition: 1s .3s;
        transition: 1s .3s;
    }

    .sidebar.open .sidebar__content__push {
        -webkit-transition-delay: .8s;
        -o-transition-delay: .8s;
        transition-delay: .8s;
        opacity: 1;
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }

    .sidebar__bottom:after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 50%;
        display: block;
        width: 12px;
        margin: 0 -6px -15px;
        height: 4px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: black;
        opacity: 0;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
    }

    .sidebar__bottom:hover:after {
        opacity: .1;
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }

    .sidebar__bottom__icon {
        font-size: 32px;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        vertical-align: middle;
        display: inline-block;
        color: #fff;
    }

    .sidebar__bottom:hover .sidebar__bottom__icon.icon-contact {
        -webkit-transform: translateY(-5px) rotate(15deg);
        -ms-transform: translateY(-5px) rotate(15deg);
        transform: translateY(-5px) rotate(15deg);
    }

    .sidebar__bottom__icon.icon-cross {
        position: absolute;
        top: 50%;
        left: 60%;
        margin: -16px;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }

    .sidebar.open .sidebar__bottom__icon {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

        .sidebar.open .sidebar__bottom__icon.icon-cross {
            opacity: 1;
            -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
            transform: translateY(0px);
        }

    .title--xl {
        font-size: 50px;
        line-height: 55px;
        color: #000;
        font-weight: bold;
    }

    .sidebar.open .sidebar__content__push.active .sidebar__content__push__title,
    .sidebar.open .sidebar__content__push.active .sidebar__content__push__icon,
    .sidebar.open .sidebar__content__push.active .sidebar__content__push__mention {
        opacity: 1;
        -webkit-transition-delay: 0 !important;
        -o-transition-delay: 0 !important;
        transition-delay: 0 !important;
    }

    .sidebar__content__push__mention {
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        opacity: .15;
    }

    .mention {
        font-size: 16px;
        line-height: 25px;
        letter-spacing: .025em;
        color: #939393;
    }

    .sidebar .sidebar__content__push__icon {
        color: #000;
    }

    .forgot-password-confirmation {
        display: flex;
        flex-direction: column;
        padding: 0 81px;
        align-items: center;
    }

        .forgot-password-confirmation .check-email-text {
            text-align: center;
            margin-top: 27.5px;
            font-family: Roboto-Thin;
            font-size: 18px;
            color: #6C7A73;
        }

    @@media (max-width: 988px) and (min-width:751px) {
        .row-flex {
            flex-wrap: nowrap;
        }

            .row-flex .col-left {
                width: auto;
            }

            .row-flex .col-right {
                width: 100%;
            }
    }

    @@media (max-width: 751px) {
        .row-flex .col-right {
            padding: 40px;
        }
    }
</style>
<div class="row-flex">
    <div class="col-left">
        <div class="logo">
            <a href="#">
                <img src="/Content/images/logo.svg" alt="">
            </a>
        </div>
        <div class="welcome">
            <h1>myfood hub</h1>
            <p>[[[Connect with your Smart Greenhouse]]]</p>
        </div>
    </div>
    <div class="col-right">
        <div class="top-nav">
            <div class="email-contact">
                [[[myfoodhub is licensed under a GPLv3]]] &nbsp;
                <a href="https://github.com/MickaelGandecki/myfood/">Get the code</a>
            </div>
            <div class="message-contact">
                <img src="/Content/images/message-alt.svg" alt="">
            </div>
        </div>

        <sidebar id="main-sidebar" class="sidebar">
            <div class="overlay"></div>
            <div class="sidebar__open-zone"></div>
            <div class="sidebar__mention">
                <p>[[[Need Support?]]]</p>
            </div>

            <div class="sidebar__bottom sidebar__button">
                <i class="fa fa-comment-o sidebar__bottom__icon icon-contact white-text"></i>
                <i class="fa fa-times sidebar__bottom__icon icon-cross white-text"></i>
            </div>

            <div class="sidebar__content">
                <div class="sidebar__vam">
                    <a class="sidebar__content__push" href="mailto:support@myfood.eu">
                        <i class="fa fa-comment-o sidebar__content__push__icon icon-contact"></i>
                        <div class="sidebar__content__push__title title--xl">
                            [[[Contact Us]]]
                        </div>
                        <small class="sidebar__content__push__mention mention">
                            [[[For any informations or suggestions]]]
                        </small>
                    </a>
                </div>

            </div>

            <div class="sidebar__red-mask"></div>
        </sidebar>
        <div class="forgot-password-confirmation">
            <img src="/Content/images/password-reseted.svg" alt="Alternate Text" />
            <p class="check-email-text">
                [[[Your password has been reset. Please click here to log in.]]]
            </p>
            @Html.ActionLink("[[[Login]]]", "Login", null, new { @class = "btn btn-primary" })
        </div>
    </div>

</div>

<script>
	$(document).ready(function () {
		$(".eye").on("mousedown", function (e) {
			$("#password").attr("type", "text");
		});

		$(".eye").on("mouseup", function () {
			$("#password").attr("type", "password");
		});
	});

	$(document).ready(function () {
		/*$('.sidebar').on('click', function () {
			$('.sidebar').toggleClass( "open" );
		});*/
		var e = this;
		e.$sidebar = $("#main-sidebar"), e.$sidebarButton = e.$sidebar.find(".sidebar__button"), e.$sidebarButton.on("click", function () {
			e.$sidebar.toggleClass("open")
		}), e.$sidebar.find(".overlay").on("click", function () {
			e.$sidebar.removeClass("open")
		}), e.$sidebar.find(".sidebar__open-zone").on("click", function () {
			e.$sidebar.toggleClass("open")
		}), e.$sidebar.find(".sidebar__content__push").on("mouseenter", function () {
			$(this).addClass("active").siblings().removeClass("active")
		})
	});
</script>